body{
    background-color:azure;
}

    #banner{ width: 100%;

        }

.titulo-centralizado{

    text-align: center;
}

h2{
    color: black; ;font-size: 30px; text-align: center; height: 90px;

 }

p{ color: black; ;font-size: 30px; text-align: center;


 }

  p strong{

             color: red;
         }

.itens{

font-style: italic;font-size: medium;
}  


.beneficios{

background: sandybrown;
}

ul{

display: inline-block;
vertical-align: top;
width: 20%;
margin-right:15%;

}
 

.principal{

background:lightgray;
padding: 30px;
}

.titulo-principal{

padding-left: 20px;

}

.img{

    width: 50px;

}
